

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #FFFDE7;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.3s ease;
}

.section:hover {
  background: #E3F2FD;
}

p {
  font-size: 16px;
  margin: 0;
}

    .loan-container {
        width: 480px;
        margin: 0 auto;
        background-color: #ffffff;
        min-height: 100vh;
        padding: 20px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    .logo {
      width: 180px;
      margin-top: 30px;   
      margin-bottom: 30px;
    }

    .number-input {
      padding: 10px 5px;
      font-size: 16px;
      width: 220px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
    }

    .submit-btn {
      margin-top: 20px;
      padding: 10px 5px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      box-sizing: border-box;
      width: 220px;
      text-align: center;
      align-items: center; 
    }

    .submit-btn:hover {
      background-color: #555;
    }

.sub-title {
  font-size: 20px;
  margin: 0;
}

h1 {
    font-size: 20px;
    margin: 0;
}

.loan-form {
  width: 100%;
}

.number-input {
  width: 100%;
  box-sizing: border-box;
}


.input-guide {
    font-size: 10px;
  color: #777;
  margin-top: 4px;
  text-align: center;
  width: 100%; 
}

.caption {
    font-size: 10px;
  color: #777;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-weight: light; 
}

