
/*가로세로중앙정렬 맞춰주는스타일*/
  .page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width:100%;
  }

  .login-container {
    background-color:   #f3faff;
    margin: 0 auto; 
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    width: 120px;
    margin: 0 auto 20px auto;
    display: block;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* 입력란 - 밑줄 스타일 */
  /* 텍스트, 비밀번호, 전화번호 입력란만 100% 적용 */
input[type="text"],
input[type="password"],
input[type="tel"],
.rolech {
  width: 100%;
  max-width: 300px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  padding: 10px 5px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
.rolech:rocus-within {
  outline: none;
  border-bottom-color: #625B71
}

/*체크박스와 회원구분선택*/
input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
  transform: scale(1.2);
  vertical-align: middle;
  accent-color:  #004f87;
}

.rolech {
  position: relative
}
.rolech select {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  -webkit-appearance: none; /* Chrome, Safari 기본 스타일 제거 */
  -moz-appearance: none;    /* Firefox 기본 스타일 제거 */
  appearance: none;         /* 표준 기본 스타일 제거 */
  cursor: pointer;
}
.rolech select:focus{
  outline: none;
}
.rolech::after{
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color:  #625B71;
  pointer-events: none; /* 화살표 뒤의 select가 클릭되도록 설정 */
}
.rolech select:invalid{
 color: #625B71;
}
.rolech option{
  color: #625B71;
}


.agreement {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px; /* 체크박스와 버튼 사이 간격 추가 */
}

  input:focus {
    outline: none;
    border-bottom-color: #000000;
  }
  
  /* 버튼 */
  button {
    padding: 10px;
    margin-bottom: 15px;
    background:  #0095ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: backgroud 0.6s ease;
  }
    button:hover {
    background:  #004f87
  } 
  
  /* 링크 및 안내문 */
  .helper-links,
  p {
    text-align: center;
    font-size: 14px;
  }
  
  a {
    color:  #625B71;
    text-decoration: underline;
  }
  